.office {
    position: relative;
    left: 25%;
    background: white;
    width: 50%;
    height: 160px;
    border-radius: 15px;
    margin-top: 4%;
}

.office h2 {
    text-align: center;
    padding-top: 10px;
    color: black;
    font-size: 34px;
}

.office p {
    color: black;
    text-align: center;
    font-size: 18px;
}

.roommates {
    background: white;
    height: 520px;
    margin-top: 2%;
    display: flex;
}

.rm {
    background: #E6ECEF;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    padding: 1%;
    height: 445px;
    flex: 1;
    border-radius: 15px;
    color: black;
}

.rm h3 {
    text-align: center
}

.rm p {
    padding: 1%;
    display: inline;
}

.rm br {
    margin: 4%;
}