html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: black;
    text-align: left;
    background-color: #e6ecef;
}

.logo {
    color: #698384;
    font-size: 2em;
    text-align: center;
}

a:any-link {
    text-decoration: none;
    color: black;
}

p {
    text-decoration: none;
    color: black;
    font-family: Roboto;
    text-align: right;
    padding: 2px 15px 0;
}

a:hover {
    color: #698384;
}

.primary-nav {
    background-color: white;
    font-size: 1.75em;
    width: 100%;
}

.primary-nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.75em 0;
    margin: 0;
}

.primary-nav li {
    list-style-type: none;
}