.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.home-housename {
    font-size: 4em;
    height: fit-content;
    align-self: center;
}

.home-alerts {
    height: fit-content;
    width: 75%;
    align-self: center;
    background-color: white;
}
.home-alerts h1 {
    text-align: center;
}
