body {
    background-color: #e6ecef;
    font-family: Roboto;
}
.leftNav {
    background-color: #ffffff;
    overflow: hidden;
    width: 150px;
    border-radius: 10%;
    position: relative;
    left: 80px;
    top: 50px;
}
.leftNav h3 {
    color: #000000;
    font-size: 150%;
    position: relative;
    left: 15px;
}
.leftNav h4 {
    color: #000000;
    text-align: center;
}
.leftNav a {
    text-decoration: none;
    color: #000000;
    font-family: Roboto;
}
.leftNav a:hover {
    color: #698384;
}