#shopping-table {
    width: 100%;
    color: black;
    font-family: Roboto;
}

#shopping-table,
#shopping-table th,
#shopping-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

#shopping-table th {
    font-weight: bolder;
}

#shopping-table th,
#shopping-table td {
    padding: 6px;
    text-align: left;
}

.checkbox-column {
    width: 1%;
}

.item-column {
    width: 20px;
}

.item-form {
    font-weight: bold;
    text-transform: capitalize;
    width: fit-content;
}

.urgency-column {
    width: 20px;
}

.urgency-form {
    width: fit-content;
    font-style: italic;
    text-transform: capitalize;
}

.assignee-column {
    width: 20px;
}

.assignee-form {
    width: fit-content;
    text-transform: uppercase;
}

.item-form,
.urgency-form,
.assignee-form {
    border: none;
    font-size: 1em;
    font-family: inherit;
}

#shopping-submit {
    font-family: Roboto;
    margin-top: 1%;
    font-size: 1em;
}

#shopping-background-rectangle {
    background-color: #fff;
    margin: 2%;
    padding: 2%;
    border-radius: 1.5%;
}

@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}