body {
    background-color: #E6ECEF;
    font-family: Roboto, sans-serif;
}
#welcome {
    color: #698384;
	text-align: center;
    margin-top: 10%;
	font-size: 5em;
}
.google-signin {
	text-align: center;
}
#logout {
	margin-top: 5%;
	text-align: center;
}
#logout-button {
	font-size: 1em;
	background-color: #698384;
	color: #e6ecef;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	border: 1px solid #698384;
	padding: 4px;
	border-radius: 4%;
}