#gsign {
	position: fixed;
	top: 0;
	left: 0;
}

body {
	background-color: #E6ECEF;
	font-family: Roboto, sans-serif;
}

#background {
	background-color: white;
	padding: 1% 3% 3% 3%;
	margin: 5% 10% 0 10%;
	border-radius: 1%;
}

#welcome {
	color: #698384;
	text-align: center;
	font-size: 5em;
}

.google-signin {
	text-align: center;
}

#logout {
	margin-top: 2%;
	text-align: center;
}

#logout-button {
	font-size: 1em;
	background-color: #698384;
	color: #e6ecef;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	border: 1px solid #698384;
	padding: 5px;
	border-radius: 4%;
}

#desc {
	text-align: center;
	margin-top: 5%;
	font-size: 1em;
}