.settings-nav {
    background-color: #fff;
    overflow: hidden;
    width: 200px;
    border-radius: 9%;
    position: relative;
    left: 80px;
    top: 140px;
}
.settings-nav h4 {
    color: #000000;
    font-size: 100%;
    position: relative;
    text-align: center;
}

/* Invite page */
.invite-form {
    background-color: #fff;
    position: absolute;
    width: 30vw;
    height: 45vw;
    top: 220px;
    left: 350px;
    font-size: 100%;
    padding-left: 50px;
    padding-top: 30px;
    border-radius: 2%;
}

.invite-form #label {
    color: black;
}