#shopping-table {
    width: 95vw;
    color: black;
    position: relative;
    top: 100px;
    margin: 40px 40px 40px 40px;
    font-family: Roboto;
}
#shopping-table, #shopping-table th, #shopping-table td {
    border: 1px solid black;
    border-collapse: collapse;
}
#shopping-table th {
    font-weight: bolder;
}
#shopping-table th, #shopping-table td {
    padding: 5px;
    text-align: left;
}
.checkbox-column {
    width: 20px;
}
.item-column {
    font-weight: bold;
    text-transform: capitalize;
}
.urgency-column {
    font-style: italic;
    text-transform: capitalize;
}
.assignee-column {
    text-transform: uppercase;
}